/* || Card Component
 *************************/
.card {
    padding: $space-sm $space-sm $space-lg;
    max-width: 20rem;
    border-radius: 1.25rem;

    background-color: $white;
    box-shadow: $shadow-light;

    /* || Image
     *************************/
    &__img {
        width: 100%;
        height: auto;
        border-radius: 0.625rem;
        display: block;
    }

    /* || Text Content
     *************************/
    &__content {
        margin-block-start: $space-md;
        padding: 0 $space-sm;
        text-align: center;
    }

    /* || Title
     *************************/
    &__title {
        font-size: $fs-md;
        font-weight: 700;
        line-height: 1.75;
        color: $dark-blue;
    }

    /* || Description
     *************************/
    &__description {
        margin-block-start: $space-sm;

        font-size: $fs-sm;
        font-weight: 400;
        line-height: 1.1875;
        letter-spacing: 0.0125em;

        color: $grayish-blue;
    }
}