/* || Body
 *************************/
body {
    background-color: var(--light-gray);
    font-family: var(--outfit);
}

/* || Main
 *************************/
main {
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}